.bd-content {
    flex-grow: 1;
    max-width: 100%;
  }

.sd-card {
    background: #fff;
    border-radius: 0;
    padding: 30px 10px 20px 10px;
    margin: 10px 0px;
}

.sd-card .sd-card-header {
    text-align: center;
}

.sd-card .sd-card-header .sd-card-text {
    margin: 0px;
}

.sd-card .sd-card-img-top {
    height: 52px;
    width: 52px;
    margin-left: auto;
    margin-right: auto;
}

html[data-theme="dark"] .sd-card img[src*=".svg"] {
    filter: invert(0.82) brightness(0.8) contrast(1.2);
}

html[data-theme="dark"] .sd-card {
    background-color: var(--pst-color-background);
}

/* Stop background of HTML rendered jupyter-sphinx cells from using --pst-color-text-base */
html[data-theme="dark"] .bd-content div.cell_output .text_html, html[data-theme="dark"] .bd-content div.cell_output img {
    background-color: var(--pst-color-background);
    color: var(--pst-color-text-base);
}
